*.log
*.sql
.DS_Store

/wordpress/

sitemap.xml

sitemap.xml.gz
uploads/*
ENV
.env

wp-content/uploads/*
!wp-content/uploads/.gitkeep
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/
wp-content/backups/
wp-content/db.php
wp-content/object-cache.php
wp-content/w3tc-config/

node_modules
bower_components
.sass-cache/*

/uploads

plugins/*
!plugins/index.php
!plugins/hello.php
!plugins/wp-migrate-db-pro/
!plugins/hellobar_wp_plugin/
!plugins/gravityforms/
!plugins/gravityformsslack/
!plugins/gravityformstwilio/
!plugins/gravityformszapier/
!plugins/advanced-custom-fields-pro/
!plugins/migrate-db-pro/
!plugins/amazon-s3-and-cloudfront-pro/
